
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-white bg-primary mt-3" >
  <div class="card-header"><h3>@Model.Title</h3></div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">@Model.Description</p>
  </div>
</div>

@if(ViewBag.showChart == "Yes")
{
    <div class="row">
        <div class="col-4 ">
            <canvas id="priorityChart"></canvas>
        </div>
        <div class="col-4 ">
            <canvas id="statusChart"></canvas>
        </div>
        <div class="col-4 ">
            <canvas id="typeChart"></canvas>
        </div>
    </div>
}

<div class="row">
    <div class="col-xl-6">
        <div class="card border-primary m-3" >
          <div class="card-header"><h4>Tickets</h4></div>
          <div class="card-body">
            <table class="display table table-hover" >
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Title</th>
                        <th scope="col">Status</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach(var ticket in Model.Tickets)
                    {
                        <tr>
                            <td>@ticket.Title</td>
                            <td>@ticket.Status</td>
                            <td>@ticket.Priority</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-controller="Ticket" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-dark"><i class="bi bi-pencil-square"></i></a>
                                    <a asp-controller="Ticket" asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                                    <a asp-controller="Ticket" asp-action="Delete" asp-route-id="@ticket.Id" class="btn btn-warning"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                    } 
                </tbody>
            </table>
          </div>
        </div>

    </div>
    <div class="col-xl-6">
        <div class="card border-primary m-3" >
          <div class="card-header"><h4>Staff</h4></div>
          <div class="card-body">
            <table class="display table table-hover" >
                <thead>
                    <tr class="table-primary">
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach(var user in Model.AssignedUsers)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.UserName</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-controller="Project" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                                    <a asp-controller="Project" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-warning"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                    } 
                </tbody>
            </table>
          </div>
        </div>

    </div>
</div>

@if(ViewBag.showChart == "Yes")
{
    <script>
      const priorityChart = new Chart(
        document.getElementById('priorityChart'),
        @Html.Raw(ViewBag.priorityData)
      );
    const statusChart = new Chart(
        document.getElementById('statusChart'),
        @Html.Raw(ViewBag.statusData)
          );
    const typeChart = new Chart(
        document.getElementById('typeChart'),
        @Html.Raw(ViewBag.typeData)
        );
    </script>
}

 
