@model CommentViewModel
@using Microsoft.AspNetCore.Identity
@using BugTracker.Areas.Identity.Data

@inject UserManager<ApplicationUser> userManager

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int TicketId = Model.Comment.TicketId;
    string userId = userManager.GetUserId(User);
}

        <div class="card shadow border-primary mb-3 mt-3" >
            <div class="card-header"><h5>Comments</h5></div>
            <div class="card-body">
                <form id="commentForm" method="post" action="@Url.Action("Create", "Comment")"  >
                <div class="form-floating mb-3">
                    @Html.AntiForgeryToken()
                    <input asp-for="Comment.TicketId" type="hidden" value="@TicketId"/>
                    <input asp-for="Comment.AuthorId" type="hidden" value="@userId"/>
                    <div class="form-floating">
                        <input class="form-control" asp-for="Comment.Message" aria-required="true"/>
                        <label class="form-label" asp-for="Comment.Message"></label>
                        <span asp-validation-for="Comment.Message" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btnComment btn-primary m-1">Comment</button>
                </div>
                </form>

            <div class="dropdown-divider p-3"></div>

            
            <table class="w-100 partialComments table table-hover" >
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Author</th>
                        <th data-priority="1" scope="col">Comment</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach(var comment in Model.CommentList)
                    {
                        <tr>
                            <td>@comment.Author.FirstName</td>
                            <td>@comment.Message</td>
                            <td>@comment.Date</td>
                        </tr>
                    } 
                </tbody>
            </table>
            </div>
        </div>


<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    $(document).ready(function () {
        var table = $('table.partialComments').DataTable({
            responsive: true
        });
    });


    $(function () {
    $('.btnComment').on('click', function (event) {
        event.preventDefault();
        var url = "/Comment/Create";
        var $form = $('#commentForm');
        $.validator.unobtrusive.parse($form);
        if ($form.valid()) {
            $.ajax({
                type: "POST",
                url: url,
                data: $('#commentForm').serializeArray(),
                error: function(ts) {
                    alert(ts.responseText)
                },
                success: function(result) {
                    toastr.success('Comment added !');
                    $("#partialComments").html(result);
                }
            });
        }
    });
});
</script>

