
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string actionButton = "";
    if(ViewBag.ActionButton != null)
    {
        actionButton = ViewBag.ActionButton;
    }
}
<div class="row">
    <div class="col-xl-6">
        <div class="row">
            <div class="col-12">
                <div class="card shadow border-primary text-black bg-light mb-3 mt-3" >
                  <div class="card-header text-light bg-primary">
                      <div class="row">
                          <div class="col">
                            <h5 class="pt-2">@Model.Title</h5>
                          </div>
                            <div class="col text-end">
                            @if(User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                            {
                                <a asp-controller="Ticket" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">
                                     <i class="bi bi-pen"></i> &nbsp; Edit Ticket 
                                </a>
                            }
                            @if(actionButton == "Start")
                            {

                                    <button class="btn btn-success actionButton">Start</button>
                                }
                                else if (actionButton == "Finish")
                                {
                                    <button class="btn btn-info actionButton">Finish</button>
                                }
                                else if(actionButton == "Close")
                                {
                                    <button class="btn btn-warning actionButton">Close</button>
                                }
                            </div>
                        </div>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title"></h4>
                    <div class="row m-3">
                        <div class="text-muted small">Description</div>
                        <p class="card-text">@Model.Description</p>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row m-3">
                        <div class="col-4">
                            <div class="text-muted small">Status</div>
                            <span id="status" class="badge rounded-pill bg-primary">@Model.Status</span>
                        </div>
                        <div class="col-4">
                            <div class="text-muted small">Priority</div>
                            <span class="badge rounded-pill bg-primary">@Model.Priority</span>
                        </div>
                        <div class="col-4">
                            <div class="text-muted small">Type</div>
                            <span class="badge rounded-pill bg-primary">@Model.Type</span>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row m-3">
                        <div class="col-4">
                            <div class="text-muted small">Author</div>
                            <span class="badge bg-primary">@Model.Submitter.FirstName @Model.Submitter.LastName</span>
                        </div>
                        <div class="col-4">
                            <div class="text-muted small">Developer</div>
                                @if(Model.Developer == null)
                                {
                                    <span class="badge bg-danger">N/A</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary">@Model.Developer.FirstName @Model.Developer.LastName</span>
                                }
                            </div>
                        <div class="col-4">
                            <div class="text-muted small">Project</div>
                            <a asp-controller="Project" asp-action="Details" asp-route-id="@Model.ProjectId" ><span class="badge bg-primary">@Model.Project.Title</span></a>
                        </div>
                    </div>
                  </div>
                </div>

            </div>
            <div class="col-12">
                <div id="partialAttachments">

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        @*@Html.Partial("_CommentPartialView", new CommentDTO {Comment = new Comment{ TicketId = Model.Id }})
        *@
        <div id="partialComments">

        </div>
    </div>
</div>

@section Scripts {
    <script>
    $('#partialComments').load('@Url.Action("Index", "Comment")', {ticketId : @Model.Id});
    $('#partialAttachments').load('@Url.Action("Index", "Attachment")', {ticketId : @Model.Id});

    $('.actionButton').on('click', function(event) {
        var action = $('.actionButton').text();
        var ticketId = @Model.Id;
        var url = "/Ticket/WorkflowAction";
        var btn = $(this);
        $.ajax({
            type: "POST",
            url: url,
            data: {
                'action': action,
                'ticketId': ticketId
            },
            error: function(ts) {
                alert(ts.responseText);
            },
            success: function(result) {
                if (result.action == '') {
                    btn.remove();
                }
                else{
                    btn.blur();
                    if (result.action == 'Finish') {
                        btn.removeClass("btn-success").addClass("btn-info");
                    }
                    else if (result.action == 'Close') {
                        btn.removeClass("btn-info").addClass("btn-warning");
                    }
                    btn.html(result.action);
                }
                $('#status').html(result.status);
            }
        });
    });
    </script>
}

